@use 'config' as config;

@function numberedValue($value){
    @if type-of($value) == 'string' {
        @return $value;
    } @else {
        @return #{$value}px;
    }
}

:root {
    --media-query: #{config.$mediaQuery};
    --columns: #{config.$columns};

    --base-spacing: #{numberedValue(config.$baseSpacing)};

    @each $name, $value in config.$breakpoints {
        --breakpoint-#{$name}: #{numberedValue($value)};
    }


    @each $name, $value in config.$gapWidth {
        --gap-width-#{$name}: #{numberedValue($value)};
    }

    @each $name, $value in config.$containerPaddingWidth {
        --container-padding-#{$name}: #{numberedValue($value)};
    }

    @each $name, $value in config.$container {
        @if $value == 'fluid' {
            --container-#{$name}: 100%;
        } @else {
            --container-#{$name}: #{numberedValue($value)};
        }
    }
}

@function breakpoint($name){
    @if not map-get(config.$breakpoints, $name){
        @error "Breakpoint `#{$name}` not found.";
    }

    @return var(--breakpoint-#{unquote($name)});
}

@function columns(){
    @return var(--columns);
}

@function container($name){
    @if not map-get(config.$container, $name){
        @error "Container `#{$name}` not found.";
    }

    @return var(--container-#{unquote($name)});
}

@function gapWidth($name){
    @if not map-get(config.$gapWidth, $name){
        @error "GapWidth `#{$name}` not found.";
    }

    @return var(--gap-width-#{unquote($name)});
}

@function containerPadding($name){
    @if not map-get(config.$containerPaddingWidth, $name){
        @error "Container Padding `#{$name}` not found.";
    }

    @return var(--container-padding-#{unquote($name)});
}

@function baseSpacing(){
    @return var(--base-spacing);
}
