{
    "extends": [
        "@nfq"
    ],
    "rules": {
        "@nfq/no-magic-numbers": [
            "error",
            {
                "detectObjects": false,
                "enforceConst": true,
                "ignore": [0, 1, -1],
                "ignoreArrayIndexes": true,
                "ignoreArrays": true,
                "ignoreFunctions": ["setTimeout", "setInterval", "pxToVw", "clampCss"]
            }
        ]
    }
}