@use "variables" as vars;

.row {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

@mixin rowElement($dimension) {
    $dimensionString: '-';

    @if $dimension != 'xs' {
        $dimensionString: -#{unquote($dimension)}-;
    };

    :root {
        --current-row-gap: #{gapWidth(#{$dimension})};
    }

    .row {
        gap: var(--current-row-gap);
    }

    .row#{$dimensionString}nowrap {
        flex-wrap: nowrap;
    }

    @each $align, $value in vars.$align-items {
        .row-align#{$dimensionString}#{unquote($align)} {
            align-items: $value;
        }
    }

    @each $justify, $value in vars.$justify-content {
        .row-justify#{$dimensionString}#{unquote($justify)} {
            justify-content: $value;
        }
    }
}
