.row {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

@mixin rowElement($dimension) {
    $dimensionString: '-';

    @if $dimension != 'xs' {
        $dimensionString: -#{unquote($dimension)}-;
    };

    $margin: calc(#{gutterWidth(#{$dimension})} / -2);

    .row {
        margin-left: $margin;
        margin-right: $margin;
    }

    .row#{$dimensionString}nowrap {
        flex-wrap: nowrap;
    }

    @each $align, $value in $align-items {
        .row-align#{$dimensionString}#{unquote($align)} {
            align-items: $value;
        }
    }

    @each $justify, $value in $justify-content {
        .row-justify#{$dimensionString}#{unquote($justify)} {
            justify-content: $value;
        }
    }
}
