@use "sass:map";

@mixin order($dimension) {
    $dimensionString: '-';

    @if $dimension != 'xs' {
        $dimensionString: -#{unquote($dimension)}-;
    };

    .order#{$dimensionString}first {
        order: -1;
    }
    .order#{$dimensionString}last {
        order: 99999;
    }

    @for $i from 0 through $orderMax {
        .order#{$dimensionString}#{$i} {
            order: $i;
        }
    }
}

@mixin utilities($dimension) {
    $dimensionString: '-';

    @if $dimension != 'xs' {
        $dimensionString: -#{unquote($dimension)}-;
    };

    @each $utilityKey, $utility in $utilities {
        $class: map.get($utility, 'class');
        $classString: '#{$class}#{$dimensionString}';

        @each $key, $value in map.get($utility, 'values') {
            .#{$classString}#{$key} {
                #{map.get($utility, 'property')}: unquote($value);
            }
        }
    }
}